

/* Banner */
.banner {
    display: none;
}

/* Main */
main {
    margin: 0 auto;
    width: 90%;
}


/* Card */

.card {
    background-color: white;
    margin-bottom: 10px;
}

.card .card-content {
    border-top: 1px solid var(--color-grisClaro); 
    padding: 15px;
    position: relative;
}



.card .card-content .icon-truck {
    border: 1px solid var(--color-verde);
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -15px;
    width: -moz-fit-content;
    width: fit-content;
}

.card .card-content .icon-truck i {
    color: var(--color-verde);
    font-size: 16px;
}

.card .card-content .product-info{
    display: flex;
    align-items: flex-end;
}

.card .card-content .product-info p:nth-child(1){
    flex-grow: 0.3;
}

.card .card-content .product-info p:nth-child(2){
    color: var(--color-verde);
    font-size: 14px;
    flex-grow: 0.7;
    
}

.card .card-content .product-name {
    color: var(--color-grisOscuro);
    margin-top: 15px;
    font-size: 15px;
}

.section-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sectionTitle {
    width: 100%;
}



/* Media Queries */
/* Tablet */
@media (min-width: 361px){
    .card {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 49%;
    }

    .card .card-content h6 {
        display: block;
    }
}
/* Desktop */
@media (min-width: 769px){
    .card {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 24%;
    }
}